UPSTAGE_API_KEY=YOUR_UPSTAGE_API_KEY
OPENAI_API_KEY=YOUR_OPENAI_API_KEY
DB_HOST=YOUR_DB_HOST
DB_USER=YOUR_DB_USER
DB_PASSWORD=YOUR_DB_PASSWORD
DB_NAME=YOUR_DB_NAME
QDRANT_URL=YOUR_QDRANT_URL
QDRANT_API_KEY=YOUR_QDRANT_API_KEY
HF_TOKEN=YOUR_HF_TOKEN